<html>
    <%- include('./partials/head.ejs') %> 
    <body>
        <%-include('./partials/nav.ejs') %> 
        <div class="login content">
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="uname" name="uname" required>
                <label for="password">Password</label>
                <input type="password" id="pass" name="pass" required>
                <button>Submit!</button>
            </form>
        </div>
    </body>
</html>